@model Medcs.Models.UserRoleGroups

@{
    ViewData["Title"] = "Edit";
}

<h2><b>Edit UserRoleGroups</b></h2>

@*<h4></h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleGroupId" class="control-label"></label>
                <select asp-for="RoleGroupId" class="form-control" asp-items="ViewBag.RoleGroupId"></select>
                <span asp-validation-for="RoleGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

