@model Medcs.Models.Inventories

@{
    ViewData["Title"] = "Edit";
}

<h2><b>Edit Inventories</b></h2>

@*<h4>Inventories</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClinicId" class="control-label"></label>
                <select asp-for="ClinicId" class="form-control" asp-items="ViewBag.ClinicId"></select>
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedBy" class="control-label"></label>
                <select asp-for="AddedBy" class="form-control" asp-items="ViewBag.AddedBy"></select>
                <span asp-validation-for="AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenericName" class="control-label"></label>
                <input asp-for="GenericName" class="form-control" />
                <span asp-validation-for="GenericName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageTemperature" class="control-label"></label>
                <input asp-for="StorageTemperature" class="form-control" />
                <span asp-validation-for="StorageTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchNo" class="control-label"></label>
                <input asp-for="BatchNo" class="form-control" />
                <span asp-validation-for="BatchNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReorderLevel" class="control-label"></label>
                <input asp-for="ReorderLevel" class="form-control" />
                <span asp-validation-for="ReorderLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturedDate" class="control-label"></label>
                <input asp-for="ManufacturedDate" class="form-control" />
                <span asp-validation-for="ManufacturedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
